name: GitHub Pages

on:
  push:
    branches:
      - main  # 设置为你的默认分支名称
  workflow_dispatch:  # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true  # 如果使用子模块，请启用此选项
        fetch-depth: 0    # 获取完整历史记录，以便Hugo获取git信息
    
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 'latest'
        extended: true
    
    - name: Setup Pages
      uses: actions/configure-pages@v4
      
    - name: Build
      run: hugo --minify
    
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4